<h2>List of Candidates</h2>
<table class="table">
	<tr>
		<th> First Name </th>
		<th> Last Name </th>
		<th> Slogan </th>
		<th> Position ID </th>
		<th> Votes </th>
	</tr>
	<%= @candidates.each do |candidate| %>
		<tr>
			<td> candidate.first_name </td>
			<td> candidate.last_name </td>
			<td> candidate.slogan </td>
			<td> candidate.position_id </td>
		</tr>
</table>